<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Future Util</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    
    <link href="/css/metisMenu.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
    #overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255,255,255,0.8);
      z-index:1000;
    }
    #table-overlay {
      z-index:1000;
      display: block;
      background-color: rgba(51,122,183,0.1);
      position: absolute;
      width:100px;
      height:100px;
      display: none;
    }
    
    .loader,
    .loader:after {
      border-radius: 50%;
      width: 10em;
      height: 10em;
    }
    .loader {
      margin: 20% auto;
      /*margin: 200px auto;*/
      font-size: 10px;
      position: relative;
      text-indent: -9999em;
      border-top: 1.1em solid rgba(0,0,255, 0.2);
      border-right: 1.1em solid rgba(0,0,255, 0.2);
      border-bottom: 1.1em solid rgba(0,0,255, 0.2);
      border-left: 1.1em solid #0000ff;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-animation: load8 1.1s infinite linear;
      animation: load8 1.1s infinite linear;
    }
    @-webkit-keyframes load8 {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
    @keyframes load8 {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }


    </style>
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Future</a>
            </div>
            <!-- /.navbar-header -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="/"><i class="fa fa-search fa-fw"></i> Search</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                      <h2>Search</h2>
                      <div class="form-group input-group">
                          <input id="search-bar" type="text" class="form-control">
                          <span class="input-group-btn">
                              <button class="btn btn-default" type="button"><i class="fa fa-search"></i>
                              </button>
                          </span>
                      </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div id="order-table" class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <td>Order Number</td>
                            <td>Customer</td>
                            <td>Customer PO</td>
                            <td>Glass Type</td>
                            <td>Due Date</td>
                          </tr>
                        </thead>
                        <tbody id="order-table-body">
                          
                        </tbody>
                      </table>
                      <a hidden id="table-overlay" href="#">
                      </a>
                    </div>
                  </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
            
            <!-- templates -->
            <div hidden>
              
              <span id="order-line-template">
                <table>
                  <tbody>
                    <tr>
                      <td class="order-number"></td>
                      <td class="order-customer"></td>
                      <td class="order-customer-po"></td>
                      <td class="order-type"></td>
                      <td class="order-due-date"></td>
                    </tr>
                  </tbody>
                </table>
              </span>
            </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <div hidden id="overlay">
      <div class="loader">Loading...</div>
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/js/sb-admin-2.min.js"></script>
    
    <script src="/js/metisMenu.min.js"></script>
    
    <script>
    
    var result_ids = {};
    var performSearch = function() {
      showOverlay();
      var s = $("#search-bar").val();
      if(!s) {
        result_ids = {};
      }
      $.ajax({
        method: "POST",
        url:'/search',
        data: {
          search: s,
          prevResults: Object.keys(result_ids)
        },
        success: function(data) {
          renderOrders(data);
          hideOverlay();
        }
      });
    };
    
    var renderOrders = function(orders) {
      if(!orders) {
        $("#order-table").hide();
        return;
      }
      var orderContainer = $("#order-table-body");
      orderContainer.html("");
      result_ids = {};
      orders.forEach(function(order) {
        result_ids[order.ID_ORDMAST] = true;
        var orderElement = $("#order-line-template").find('tr').clone();
        orderElement.find('.order-number').html(order.RIF);
        orderElement.find('.order-customer').html(order.DESCR1);
        orderElement.find('.order-customer-po').html(order.COMMESSA_CLI);
        orderElement.find('.order-type').html(order.DESCR_ANAGRAFICA);
        orderElement.find('.order-due-date').html((new Date(order.DATACONS)).toDateString());
        orderElement.data('href', "/order/" + order.ID_ORDINI);
        orderElement.appendTo(orderContainer);
      });
      initRows();
      $("#order-table").show();
    };
    
    $(document).ready(function() {
      $("#search-bar").change(function() {
        performSearch();
      });
      performSearch();
    });
   
    var showOverlay = function() {
      $('#overlay').show();
    };
    var hideOverlay = function() {
      $("#overlay").hide();
    }

    var initRows = function() {
      $("tbody").find('tr').hover(function() {
        //IN
        var e = $(this);
        var o = $("#table-overlay");
        o.show();
        o.offset({top:e.offset().top,left:e.offset().left});
        o.width(e.width());
        o.height(e.height());
        o.attr('href', e.data('href'));
      },
      function() {
        //OUT
      });
    }
    </script>

</body>

</html>
